In [2]:
import pyWinhook as pyHook
import pythoncom
import os
import matplotlib.pyplot as plt
import json
import numpy as np
import sys
import pandas as pd
from IPython.display import clear_output
import csv

In [3]:
global userName
userFilePath = "Collecting_keyStorke.csv"

In [43]:
class KeyLogger:
    def __init__(self):
        self.enterPressed = False
        self.eventList = []
        self.isCaps = False
        #self.message = ""
        
    def keyDownEvent(self, event):
        if event.KeyID == 20 and self.isCaps == False:
            self.isCaps = True
        elif event.KeyID == 20 and self.isCaps == True:
            self.isCaps = False     
        if event.KeyID>= 48 and event.KeyID<=57:
            event.Ascii = event.KeyID
        if self.isCaps == True and event.Ascii>=97 and event.Ascii<=122:
            event.Ascii = event.KeyID
        self.storeEvent("Down", event) 
        print(chr(event.Ascii),end='')
        return True
        # Fixes Requires Integer Bug (Got Nonetype)

    def keyUpEvent(self, event): 
        if event.KeyID>= 48 and event.KeyID<=57:
            event.Ascii = event.KeyID
        if self.isCaps == True and event.Ascii>=97 and event.Ascii<=122:
            event.Ascii = event.KeyID
#         print(chr(event.Ascii),end='')
        self.storeEvent("Up", event)
        return True

    def mainLoop(self):
        while not self.enterPressed:
            pythoncom.PumpWaitingMessages()

    def storeEvent(self, activity, event, register):
        keystrokeTime = int(event.Time)
        self.eventList.append ((userName,event.Ascii,activity, int(keystrokeTime)))

        # Chosen to use Escape key (ESC) due to input using a similar method
        # Enter Key - KeyCode: 13 Ascii: 13 ScanCode: 28 - ESC = 27 @ Ascii
        if event.Ascii == 27 :
            self.enterPressed = True
            if register == True:
                userRecordData(self.eventList)
                

def userRecordData(eventList):
    print("\nouput")
    print(eventList)
    with open(userFilePath,'a',newline='\n') as f:
        writer = csv.writer(f)
#         writer.writerow(['user','key','action','time'])
        writer.writerows(eventList)
    f.close()   
    
def getUserName():
    global userName
    userName = input("Enter your Name: ")
    
def getKeyStroke():
    
    keyLogger = KeyLogger()
    hookManager = pyHook.HookManager()
    hookManager.KeyDown = keyLogger.keyDownEvent
#     hookManager.KeyUp = keyLogger.keyUpEvent
    hookManager.HookKeyboard()

    keyLogger.mainLoop()
    # Unhooks the keyboard, no more data recorded, returns to menu
    hookManager.UnhookKeyboard()
    

    
getUserName()
print("Enter your text: \n type following words \n pity hook tool calf rate Mars riot blue safe food")
getKeyStroke()

Enter your Name: earth2
Enter your text:
 type following words
 pity hook tool calf rate Mars riot blue safe food
pity hook tool calf rate  Mars riot blue safe food
ouput
[('earth2', 112, 'Down', 620805609), ('earth2', 105, 'Down', 620805859), ('earth2', 116, 'Down', 620806187), ('earth2', 121, 'Down', 620806578), ('earth2', 32, 'Down', 620807140), ('earth2', 104, 'Down', 620807625), ('earth2', 111, 'Down', 620808015), ('earth2', 111, 'Down', 620808218), ('earth2', 107, 'Down', 620808765), ('earth2', 32, 'Down', 620809218), ('earth2', 116, 'Down', 620809593), ('earth2', 111, 'Down', 620809953), ('earth2', 111, 'Down', 620810156), ('earth2', 108, 'Down', 620810484), ('earth2', 32, 'Down', 620810875), ('earth2', 99, 'Down', 620811234), ('earth2', 97, 'Down', 620811765), ('earth2', 108, 'Down', 620812203), ('earth2', 102, 'Down', 620812562), ('earth2', 32, 'Down', 620812906), ('earth2', 114, 'Down', 620813375), ('earth2', 97, 'Down', 620813750), ('earth2', 116, 'Down', 620814093), ('earth2', 101, 'Down', 620814359), ('earth2', 32, 'Down', 620814765), ('earth2', 0, 'Down', 620815359), ('earth2', 77, 'Down', 620815468), ('earth2', 97, 'Down', 620815906), ('earth2', 114, 'Down', 620816203), ('earth2', 115, 'Down', 620816562), ('earth2', 32, 'Down', 620816953), ('earth2', 114, 'Down', 620817437), ('earth2', 105, 'Down', 620817765), ('earth2', 111, 'Down', 620818078), ('earth2', 116, 'Down', 620818406), ('earth2', 32, 'Down', 620818812), ('earth2', 98, 'Down', 620819203), ('earth2', 108, 'Down', 620819546), ('earth2', 117, 'Down', 620819875), ('earth2', 101, 'Down', 620820171), ('earth2', 32, 'Down', 620820500), ('earth2', 115, 'Down', 620821000), ('earth2', 97, 'Down', 620821296), ('earth2', 102, 'Down', 620821578), ('earth2', 101, 'Down', 620821859), ('earth2', 32, 'Down', 620822218), ('earth2', 102, 'Down', 620822562), ('earth2', 111, 'Down', 620822968), ('earth2', 111, 'Down', 620823250), ('earth2', 100, 'Down', 620823515), ('earth2', 27, 'Down', 620824687)]


In [130]:
def getKeyStroke_verify():
    
    keyLogger = KeyLogger()
    hookManager = pyHook.HookManager()
    hookManager.KeyDown = keyLogger.keyDownEvent
#     hookManager.KeyUp = keyLogger.keyUpEvent
    hookManager.HookKeyboard()

    keyLogger.mainLoop()
    # Unhooks the keyboard, no more data recorded, returns to menu
    hookManager.UnhookKeyboard()
    return keyLogger

######

In [16]:
from scipy.spatial.distance import cityblock
from sklearn.metrics import roc_curve

In [121]:
data = pd.read_csv("Collecting_keyStorke.csv")
userList = data.user.unique()
keyList = data.key.unique()
df = pd.DataFrame(columns=['subject','key','time'])
for i in range(0, len(userList)):
    queryData = data.query("user =='"+ userList[i]+"'")
    for j in range(queryData.size//4 - 1):
        finalData = {}
        finalData['subject'] = userList[i]
        finalData['key'] = chr(queryData.iloc[[j]].key) +" " +chr(queryData.iloc[[j+1]].key)
        finalData['time'] = (int(queryData.iloc[[j+1]].time) - int(queryData.iloc[[j]].time))/1000
        df = df.append(finalData, ignore_index = True)
    print(df)

                
        
            
           
      
f = open("KeyStrokeDistance.csv", 'w',newline='\n')
writer = csv.writer(f)
writer.writerow(['subject','key from','key next', 'time'])
for row in df.iterrows():
    #print(row[1])
    writer.writerow(row[1])
    
f.close()
# print(df[df.subject == 'earth'])

<ipython-input-121-fcf96bb72637>:10: DeprecationWarning: an integer is required (got type Series).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  finalData['key'] = chr(queryData.iloc[[j]].key) +" " +chr(queryData.iloc[[j+1]].key)
<ipython-input-121-fcf96bb72637>:10: DeprecationWarning: an integer is required (got type Series).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  finalData['key'] = chr(queryData.iloc[[j]].key) +" " +chr(queryData.iloc[[j+1]].key)

   subject  key   time
0    earth  p i  0.187
1    earth  i t  0.141
2    earth  t y  0.250
3    earth  y    0.328
4    earth    h  0.187
5    earth  h o  0.172
6    earth  o o  0.172
7    earth  o k  0.094
8    earth  k    0.203
9    earth    t  0.156
10   earth  t o  0.172
11   earth  o o  0.141
12   earth  o l  0.250
13   earth  l    0.172
14   earth    c  0.234
15   earth  c a  0.125
16   earth  a l  0.203
17   earth  l f  0.203
18   earth  f    0.219
19   earth    r  0.203
20   earth  r a  0.141
21   earth  a t  0.172
22   earth  t e  0.093
23   earth  e    0.141
24   earth       0.172
25   earth    M  0.094
26   earth  M a  0.312
27   earth  a r  0.156
28   earth  r s  0.235
29   earth  s    0.265
30   earth    r  0.188
31   earth  r i  0.250
32   earth  i o  0.109
33   earth  o t  0.141
34   earth  t    0.203
35   earth    b  0.219
36   earth  b l  0.094
37   earth  l u  0.187
38   earth  u e  0.078
39   earth  e    0.156
40   earth    s  0.125
41   earth  s a  0.110
42   earth  a f  0.140
43   earth  f e  0.125
44   earth  e    0.204
45   earth    f  0.156
46   earth  f o  0.140
47   earth  o o  0.141
48   earth  o d  0.094
49   earth  d   0.640
   subject  key   time
0    earth  p i  0.187
1    earth  i t  0.141
2    earth  t y  0.250
3    earth  y    0.328
4    earth    h  0.187
..     ...  ...    ...
95  earth2    f  0.344
96  earth2  f o  0.406
97  earth2  o o  0.282
98  earth2  o d  0.265
99  earth2  d   1.172

[100 rows x 3 columns]

In [122]:
df_mean = pd.DataFrame(columns=['subject', 'key', 'time'])
# df_mean = df_mean.rename(columns = {"subject" : "user"})
for user in df.subject.unique():
    temp = df[df.subject == user].groupby(['key']).mean()
    temp.insert(0,'user', [user]*temp.shape[0])
    df_mean = df_mean.append(temp.reset_index())
df_mean

   subject  key   time    user
0      NaN    M  0.094   earth
1      NaN       0.172   earth
2      NaN    b  0.219   earth
3      NaN    c  0.234   earth
4      NaN    f  0.156   earth
..     ...  ...    ...     ...
40     NaN  t e  0.266  earth2
41     NaN  t o  0.360  earth2
42     NaN  t y  0.391  earth2
43     NaN  u e  0.296  earth2
44     NaN  y    0.562  earth2

[90 rows x 4 columns]

In [123]:
df_mean = df_mean.pivot(index = 'user', columns ='key', values = 'time')

In [124]:
df_mean

key,  M, ,b,c,f,h,r,s,t,M a,...,r i,r s,s,s a,t,t e,t o,t y,u e,y
user,,,,,,,,,,,,,,,,,,,,,
earth,0.094,0.172,0.219,0.234,0.156,0.187,0.1955,0.125,0.156,0.312,...,0.250,0.235,0.265,0.110,0.203,0.093,0.172,0.250,0.078,0.328
earth2,0.109,0.594,0.391,0.359,0.344,0.485,0.4765,0.500,0.375,0.438,...,0.328,0.359,0.391,0.296,0.406,0.266,0.360,0.391,0.296,0.562

In [127]:
from sklearn.neighbors import KNeighborsClassifier
clf_df = df_mean
clf = KNeighborsClassifier(n_neighbors=1)
clf.fit(clf_df[clf_df.columns[1:]].to_numpy(), [0, 1])

KNeighborsClassifier(n_neighbors=1)

## Verify

In [133]:
print("Enter your text: \n type following words \n pity hook tool calf rate Mars riot blue safe food")
txt_event = getKeyStroke_verify()

Enter your text:
 type following words
 pity hook tool calf rate Mars riot blue safe food
pity hook tool calf rate  Mars riot blue safe food
ouput
[('earth2', 112, 'Down', 632608671), ('earth2', 105, 'Down', 632608812), ('earth2', 116, 'Down', 632608921), ('earth2', 121, 'Down', 632609125), ('earth2', 32, 'Down', 632609281), ('earth2', 104, 'Down', 632609515), ('earth2', 111, 'Down', 632609656), ('earth2', 111, 'Down', 632609812), ('earth2', 107, 'Down', 632609906), ('earth2', 32, 'Down', 632610062), ('earth2', 116, 'Down', 632610203), ('earth2', 111, 'Down', 632610343), ('earth2', 111, 'Down', 632610484), ('earth2', 108, 'Down', 632610703), ('earth2', 32, 'Down', 632610968), ('earth2', 99, 'Down', 632611453), ('earth2', 97, 'Down', 632611546), ('earth2', 108, 'Down', 632611687), ('earth2', 102, 'Down', 632611796), ('earth2', 32, 'Down', 632611953), ('earth2', 114, 'Down', 632612109), ('earth2', 97, 'Down', 632612203), ('earth2', 116, 'Down', 632612359), ('earth2', 101, 'Down', 632612437), ('earth2', 32, 'Down', 632612531), ('earth2', 0, 'Down', 632612687), ('earth2', 77, 'Down', 632612765), ('earth2', 97, 'Down', 632612968), ('earth2', 114, 'Down', 632613109), ('earth2', 115, 'Down', 632613296), ('earth2', 32, 'Down', 632613468), ('earth2', 114, 'Down', 632613656), ('earth2', 105, 'Down', 632613828), ('earth2', 111, 'Down', 632613906), ('earth2', 116, 'Down', 632614031), ('earth2', 32, 'Down', 632614187), ('earth2', 98, 'Down', 632614406), ('earth2', 108, 'Down', 632614515), ('earth2', 117, 'Down', 632614671), ('earth2', 101, 'Down', 632614750), ('earth2', 32, 'Down', 632614937), ('earth2', 115, 'Down', 632615093), ('earth2', 97, 'Down', 632615171), ('earth2', 102, 'Down', 632615328), ('earth2', 101, 'Down', 632615437), ('earth2', 32, 'Down', 632615640), ('earth2', 102, 'Down', 632615765), ('earth2', 111, 'Down', 632615890), ('earth2', 111, 'Down', 632616015), ('earth2', 100, 'Down', 632616109), ('earth2', 27, 'Down', 632616562)]


In [137]:
eventList = pd.DataFrame(txt_event.eventList,columns=['subject','key','action','time'])
strokeEventLen = len(eventList)
finalData = {}
veri_df = pd.DataFrame(columns=['subject','key','time'])
for j in range(0,strokeEventLen-1):
        finalData['subject'] = 'guest'
        finalData['key'] = chr(eventList.iloc[j].key) + " " + chr(eventList.iloc[j+1].key)
        finalData['time'] = (int(eventList.iloc[j+1].time) - int(eventList.iloc[j].time))/1000
        veri_df = veri_df.append(finalData,ignore_index=True )
veri_df = veri_df.groupby(['key']).mean().reset_index()
veri_df.insert(0,'subject',['guest']*veri_df.shape[0])
veri_pivot = veri_df.pivot(index='subject', columns='key', values = 'time')

In [138]:
veri_pivot

key,  M, ,b,c,f,h,r,s,t,M a,...,r i,r s,s,s a,t,t e,t o,t y,u e,y
subject,,,,,,,,,,,,,,,,,,,,,
guest,0.078,0.156,0.219,0.485,0.125,0.234,0.172,0.156,0.141,0.203,...,0.172,0.187,0.172,0.078,0.156,0.078,0.14,0.204,0.079,0.156

In [139]:
clf.predict(veri_pivot[veri_pivot.columns[1:]].to_numpy())

array([0])